name: Deploy Shinylive application

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.4'

      - name: Set CRAN mirror
        run: echo 'options(repos = c(CRAN = "https://packagemanager.posit.co/cran/2025-04-01"))' >> ~/.Rprofile

      - name: Check libcurl
        run: Rscript -e 'capabilities("libcurl")'

      - uses: r-lib/actions/setup-renv@v2
        with:
          bypass-cache: true

      - name: Check generic download works
        run: Rscript -e 'capabilities("libcurl");download.file("https://www.google.com", tempfile())'
        shell: bash

      - name: Install renv package
        run: Rscript -e "install.packages('renv')"
        shell: bash

      - name: Restore project library with renv::restore()
        run: Rscript -e "renv::restore(prompt = FALSE)"

      - name: Export Shiny app with shinylive
        run: |
          Rscript -e 'shinylive::export(".", "site")'

      - name: Upload website artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v4
        with:
          path: "site"


  # After build job is finished, deploy the website to GitHub Pages
  deploy:
    if: github.ref == 'refs/heads/main'
    needs: build

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
